@import "vars";
@mixin ul-style($margin-left: 0) {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: $margin-left;
    display: flex;
    align-items: center;
    height: 60px;

    li a {
      text-decoration: none;
      color: var(--very-light-pink);
      border: 1px solid var(--white);
      padding: 8px;
      border-radius: 8px;

      &:hover {
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
      }
    }
  }
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 1;

  .menu {
    display: none;
  }

  .navbar__left {
    display: flex;
    @include ul-style(12px);

    .navbar-logo {
      background: transparent;
      cursor: pointer;
      &__img {
        padding-top: 1.2rem;
        width: 100px;
      }
    }
  }

  .navbar__right {
    @include ul-style;

    .navbar-email {
      color: var(--very-light-pink);
      font-size: var(--sm);
      font-weight: 600;
      margin-right: 12px;
      cursor: pointer;
      &:hover {
        color: var(--hospital-green);
      }
    }

    .navbar-shopping-cart {
      position: relative;
      cursor: pointer;
      transition: animation 0.5s ease-in-out;

      &--active,
      &:hover {
        animation: bounce 1s;
      }

      div {
        width: 16px;
        height: 16px;
        background-color: var(--hospital-green);
        border-radius: 50%;
        font-size: var(--sm);
        font-weight: bold;
        position: absolute;
        top: -6px;
        right: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.nav-button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: $font-family;
  font-size: 0.95rem;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translateY(2px);
    font-weight: bold;
    color: var(--hospital-green);
  }

  &:focus,
  &:active {
    font-weight: bold;
    color: var(--hospital-green);
  }
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }

  nav {
    max-width: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    .navbar-shopping-cart div {
      padding-right: 4px;
    }

    .menu {
      display: block;
    }
    .navbar__left {
      ul {
        display: none;
      }
    }
    .navbar-email {
      display: none;
    }
  }
}
