@import "order";
@import "buttons";

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: white;
  top: 60px;
  bottom: 0;
  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
  overflow-y: scroll;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    transform: rotate(180deg);
    margin-right: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.button-text {
  text-decoration: none;
  color: var(--white);
}

.order {
  @include order;
  grid-template-columns: auto 1fr;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;

  p:nth-child(2).order-price {
    text-align: end;
    font-weight: bold;
  }
}

.primary-button {
  @include primary-btn(var(--hospital-green), var(--white));
  width: 90%;
}

@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
