@import "buttons";

.logged-out__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--text-input-field);

  h2 {
    text-align: center;
    margin: 16px 0;
  }

  p {
    text-align: center;
    margin: 16px 0;
  }

  a {
    @include primary-btn;
  }
  img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .logged-out__container {
    width: 300px;
    margin-top: 50px;
  }
}
